@font-face {
    font-family: 'Mona Sans';
    src: url(../fonts/Mona-Sans.ttf);
}
*{
    box-sizing: border-box;
}
#authenticationUi{
    width: 100vw;
    margin: 0;
    min-height: 100vh;
    padding-right: 1em;
    /* background:linear-gradient(9deg,#162D4600,#182636,#040d16); */
    /* opacity: 0.9; */
     backdrop-filter: blur(7px);
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     transition: backdrop-filter 0.5s ease-in-out;
     padding-left: 1em;
      
   
    
}
  
body{
    margin: 0;
    padding: 0;
    background-image: url(../assets/logo_trial-removebg-preview.png);
    
    background-size:35%;
    background-position: 0% 90%;
    background-repeat: no-repeat;
    background-color:#152E4C;
    font-size: 16px;
    
}

#logo{
    margin-top: 1em;
    width: max(7em);
    margin-left: -43px;
    
    
}
 .logo{
    display: flex;
    align-items: center;
    
    
 }
 #app-name{
    padding-bottom: 0.5em;
    color: #EDEFF1;
    font-family: "Mona Sans" ;
    font-size: 0.9em;
    margin-left: -2em;
    font-weight: 300;
 }
 .task-text{
    color:#63B5E5;
    margin-right :0.3em;
 }
 #user-welcome-text{
    color:#ffffff ;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 500px;
    padding-left:0;
    font-family:"Mona Sans" ;
    font-weight: 300;
    line-height:normal;
    margin-top: 3em;
    
    

 }
 #user-welcome-text p{
    color: #ffffff;
    font-size: 0.8em;
   font-weight: 300;
    line-height: 1.5em;
    /* font-weight: 200; */
    font-family: 'mona Sans';
 }
    
 h1{
    font-size:min(2.2em,8vw);
    font-weight: 200;
    text-wrap: nowrap;
    padding-left: 0;
 }
.strong{
    font-weight:bold;
    color: #63B5E5;
}
 
#login-illustration{
     width: 200px; 
     transform: scaleX(1);
     transform: scaleY(1);
     transform: translateX(0);
     transition: transform 0.5s ease-in-out ;
    
}

#login-illustration:hover{
    transform: scaleX(110%);
    transform: translateX(10%);
    /* transform: scaleY(5%); */
}
 
 
.bright-green{
   color: #B6E100
}
 
#login-card{
 align-self: flex-end;
 font-family: 'mona Sans';
 display: flex;
 flex-direction: column;
 gap: 1em;
 margin-bottom: 3em;
 width: 360px;
 
 
 
}

#login-card h2{
    color: #ffffff;
    font-weight: 100;
}
#login-card p{
    color: #EDEFF1;
}
.light-blue{
    color: #63B5E5;
}
.small-space{
    margin-left: 10px;
}
.namecontainer{
    display: flex;
    justify-content: space-between;
    padding: 0;
    
    border-style: none;

}
.namecontainer input{
    width: 120px;
    background-color: inherit;
    border-radius: 0.5em;
    border: none;
    outline: none;
    padding-top: 0.4em;
    color: #FFFFFF;
    font-size: 1em;
}
.namecontainer legend{
    font-size: 0.6em;
    color:#C4C4C4;
}
.namecontainer fieldset{
    background-color: #313543;
    border-radius: 0.5em;
    border-style: none;
     padding: 0;
     

}
.namecontainer section{
     display: flex;
     color: #C4C4C4;
     display: flex;
     align-items: center;
     background-color: #323644;
     border-radius: 0.5em;
     padding :0.1em 0.4em; 
     
}
.email-and-password{
    display: flex;
    flex-direction: column;
    gap:1em;
    padding: 0;
    border-style: none;
    
 
}
.email-and-password section{
    display: flex;
    color: #C4C4C4;
    background-color: #323644;
    align-items: center;
    border-radius: 0.5em;
    padding:0.2em 0.4em;
     

     
}
.email-and-password legend{
    font-size: 0.6em;
    color:#C4C4C4;
}
 #email-innerdiv{
    flex-grow: 1;
    
 }
 #password-inner-div{
    flex-grow: 1;
 }
 .email-and-password input{
    width: 100%;
    outline: none;
    font-size: 1em;
    background-color: inherit;
    border: none;
    color:#FFFFFF;
 }
 .email-and-password fieldset{
    padding: 0;
    border-style: none;
     

    
 }
  legend{
    font-family: "mona Sans",sans-serif;
  }
  #login-card section{
    border:1px solid transparent
  }
  #login-card section:hover{
    border: 1px solid #63B5E5;
  }
  .google-signin{
    background-color: #323644;
    border-radius: 0.4em;
    /* border-style: none; */
    padding: 0.1em;
    z-index: 3;
    padding-left: 0;
    border: 1px solid transparent;

    
    

  }
  .google-signin:hover{
    border: 1px solid #63B5E5;
  }
   
 #login-card section:hover i{
    color: #FFFFFF;
 }
 