.outer-box{
 display: flex;
 flex-wrap: wrap-reverse;
}

#calendar {
  background: #1d1d1d;
  color: #ffffff; 
   height: 60svh;
  overflow: hidden;
  width: 100%;
}

#data_info{
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1d1d1d;
     
    
}
.fc-toolbar {
  /* background: #797bdf; */
  border-radius: 10px;
}
.fc-col-header-cell > * {
  padding: 10px;
}
.fc-theme-standard td {
  border-color: #444444;
}
.fc-theme-standard .fc-scrollgrid {
  border-color: #444444;
}
.fc-col-header {
  background-color: #797bdf;
  border: 1px solid red;
}
.fc-col-header > * {
  stroke: #444444;
}
.fc-event {
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
  #calendar {
    width: 70%;
    
  }
  #data_info{
        width: 30%;
  }
#calendar{
    height: 100svh;
}
}
#back-btn{
    background-color: #797bdf;
    width: 200px;
    height: 50px;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    border: 1px solid #444444;
    
}
#backSection{
    display: flex;
    align-items: end;
    justify-content: end;
}
  .fc-day-today .fc-daygrid-day-frame,
.fc-day-today .fc-timegrid-col-frame,
.fc-day-today .fc-daygrid-event {
    background-color: #444444 !important; /* Darker border color */
}

 
