@font-face {
    font-family: 'mona Sans';
    src: url(../assets/Mona-Sans.ttf);
}
*{
    box-sizing: border-box;
    font-family: 'mona Sans';
    user-select: none;
   
    
}
 
body{
    margin: 0;
    font-size: 16px;
    padding: 0;
   
     
  
    
} 
.ui{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100svh;
    background-color:#121212 ;
    margin: 0;
    gap: 1em;
     
    
}
svg{
    
     margin-top: -4.5em;
}

.top{
    color:#F8F9FA;
    padding: 0 1em;
 }
#profile-picture{
    width:1.5em;
    height: 1.5em;
    object-fit: cover;
    border-radius: 50%;
}
.weclome-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:1.8em;
    color:#F8F9FA;
    
    
}
#page-title{
    display: flex;
    justify-content: center;

}
.middle{
    display: flex;
    flex-direction: column;
      flex-grow: 1;
    align-items: center;
    justify-content: center;
    overflow: auto;
    
      
}
 
.middle ::-webkit-scrollbar{
   background-color: #1d1d1d;
   width: 5px;
   border-radius: 0.5em;
}
.middle ::-webkit-scrollbar-thumb{
  background-color:#272727;
  border-radius: 0.5em;
}

 #task-container>:last-child{
 margin-bottom: 1em;
  
 }
 

 .middle p{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-top: 0;
    
    
 }
 .middle p:first-of-type{
    font-size: 1.3em;
    margin-bottom: 1em;
 }
 .plus-symbol{
    color:#8687E7;
font-size: 1.5em;
margin:0.3em;

 }
 .bottom{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* font-size:max(1.2em,2vw) ; */
    background-color: #363636;
    background-color: #1d1d1d;
    padding:0 0.3em;
    font-size: 1.3em;
     
    
 }
  i:hover{
    color: #8687E7;
 }
 i{
    color:#e5e5e5;
    cursor: pointer;
    
     
 }
 #plus-icon{
    
    font-size:  3em;
    transform: translateY(-50%);
    color: #8687E7;
    background-color:#e5e5e5;
    border-radius: 50%;
    z-index: 0;
    
 }
 .icons-label{
    font-weight: initial;
    font-size: 0.5em;
    color:#e5e5e5;
 }
.bottom>section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
 

#input-dialogue{
   width: calc(100vw - 1.5em); 
   
    max-width: 500px;
     
    background-color: #363636;
    border-radius: 1em;
    border: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-30px);
    padding:1em;
    justify-content: space-between;
    gap: 1em;
     
}
 #input-dialogue i{
  font-size: 1.2em;
 }
#input-dialogue input{

 background-color: inherit;
 border-radius: 0.3em;
 border: none;
 padding: 1em 0.5em;
 color: #e5e5e5;
 outline: none;
 width: 100%;
 max-width: 500px;
 border-bottom: 1px solid  transparent;
  
 
  

}
#input-dialogue input:focus{
    outline: none;
    border-bottom: 1px solid grey;
}
#input-dialogue>:first-child{
    font-size: 1.3em;
    width: 100%;
    
}
#input-dialogue textarea{
    background-color:inherit;
    width: 100%;
    max-width: 500px;
    height: 70px;
    border-radius: 0.5em;
    padding: 1em 0.5em;
    border: none;
    border-bottom: 1px solid  transparent;
    outline: none;
    color:  #e5e5e5;
    
   
     
}
 #input-dialogue textarea:focus{
    border-bottom: 1px solid  grey; 
}
 
.taskTittle,.tittle-decription-txt-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.task-setting{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
}
.task-setting>:last-child{
    flex-grow: 0.4;
    text-align: right;
    color: #8687E7;
  
    
}
.task_filled_info{
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #e5e5e5;
   height: 2em;
   
}
 #dialogue-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:  center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index:2;
    
    display: none;
     
 
 }
 #dialog i{
  font-size: 1.2em;
 }

  
  ::placeholder{
    font-size:1em;
  }
  .close-dialoge-container{
    display:  flex;
    justify-content: space-between;
    color:  #e5e5e5;
  }
  

  .time-input{
    width: 50px;
  }

  #datepicker{
 border: none;
 background-color: transparent;
 flex-grow: 1;
  outline: none;
  width: 100%;
  
  
  


 
  }
 #dialog{
width: calc(100vw - 1.5em);
max-width: 400px;
padding: 0;
border: none;
outline: none;
background-color:#363636;
outline: none;
border: none;
border-radius: 1em;
padding:  1em;

 
 
position: relative;
 

  }
  .datetimeoutercontainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
   display: none;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10em;
  
   
 

 
  }
  #dialog::-webkit-scrollbar{
    display: none;
  }
  #dialog i{
    padding: 0.5em 0.2em;
  }
  .datepicker-default{
    width: 100%;
    padding: 1em 0em;
    background-color: #8687E70a ;
     border-radius: 0.5em;
    border: none;
    outline: none;
    display: flex;
    color:#8687E7;
    
  }
  
  .dialogue-controls{
    display: flex;
    justify-content: space-between;
    
    
  }
  #category{
    display: flex;
    color: #F8F9FA;
    flex-direction: column;
    width:  calc(100vw - 1.5em);
    max-width: 400px;
    align-items: center;
    gap: 1em;
    background-color: #363636;
    padding: 1em 0;
    border-radius: 1em;
    margin: 7em auto;
     

  }
 /* #category-top::after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: grey;
  display: block;
  margin-top: 0.5em;
 } */
 #category-top{
  width: 90%;
  display: flex;
  justify-content: space-between;
  
 }
 #category-top>:nth-child(2){
  flex-grow: 0.5;
 }
 #category-top>:first-child{
  font-size: 1.5em;
 }
 #category-middle{
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  row-gap: 0.5em;
  justify-content: center;
   
   
 }
 #category-middle::before{
  content: '';
  background-color: grey;
  width: calc(100% - 1em);
  height: 1px;
 }
 #category-middle section{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 5em;
  gap: 0.5em;
  /* background-color: red; */
  
  
 }
 #category-middle section label{
  font-size: 0.8em;
  font-weight: 400;
  
 }
 #category-middle section i{
  font-size: 1.3em;
  height: 2em;
  width: 2em;
  border-radius: 5px;
  color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 #category-middle section i:hover{
  background: #8687E7;
 }
  

 #add-category-btn{
  background-color: #8687E7;
  width: 80%;
  padding: 0.7em 2em;
  text-align: center;
  border-radius: 0.5em;
  cursor: pointer;
 }
 #personal-tasks i{
  background-color: #add8e6; /* Light blue */
}

#work-tasks  i{
  background-color: #90ee90; /* Light green */
}

#shoppin i{
  background-color: #ffa07a; /* Light orange */
}
#health i{
  background-color: #c9a0dc; /* Light purple */
}

#education i{
  background-color: #ffff99; /* Light yellow */
}

#finance i{
  background-color: #87ceeb; /* Light teal */
}

#leisure i{
  background-color: #ffb6c1; /* Light pink */
}

#home i{
  background-color: #f4a460; /* Light brown */
}

#family i{
  background-color: #ff6347; /* Light red */
}

#social i{
  background-color: #e0ffff; /* Light cyan */
}

#sports i{
  background-color: #d3d3d3; /* Light grey */
}

#person i{
  background-color: #afeeee; /* Light turquoise */
}

#shopping i{
  background-color: #FFA500; /* Light orange */
}

#create-task i{
  background-color: #afeeee
}
#category-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: none;
  
}

#priority{
  margin: 7em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
   
  width: calc(100vw - 1.5em);
  background-color: #363636;
  border-radius: 1em;
  color: #e5e5e5;
  max-width: 400px;
  gap: 1em;
  padding: 1em 1em;
}
 
 #middle-priority-s{
  
  display: flex;
  justify-content: center;
  gap: 1em ;
  flex-wrap: wrap;
  
    
 }
 #middle-priority-s::before{
  content: '';
  width: calc(100% - 1.5em);
  height: 1px;
  background-color: grey;
 }
 #middle-priority-s>:nth-last-child(-n+2){
  visibility: hidden;
 }
  #bottom-priority-s{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  #bottom-priority-s :nth-child(n){
   padding: 1em 3em;
   cursor: pointer;
   
  }
  #bottom-priority-s :nth-last-child(2){
    color: #8687E7;
  }
  #bottom-priority-s :last-child{
    padding: 1em 4em;
    background-color: #8687E7;
    border-radius: 0.5em;
  }


 .flag-section{
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  background-color: #272727;
  padding: 0.6em 1.5em;
  border-radius: 0.5em;
  cursor: pointer;
   
 }
 .flag-section:hover{
  background-color: #8687E7;
 }
 .flag-section i:hover{
  color:whitesmoke
 }
 .priority-container{
  display:none;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  z-index: 10;
  user-select: none;
 }


  @media (max-width:500px) {
    #dialog{
        transform: translate(0,-40px);
     
    }
    #input-dialogue{
      border-radius: 0.5em;
       
       
    }
 
    
  }
  
 
 
 
.bootstrap-datetimepicker-widget {
  max-width:calc(100vw - 1em);
   


  font-family: 'mona Sans';
  border-radius: 0.8em;
  transform: translate(-18px,20px);
  
  
  
  
}
.bootstrap-datetimepicker-widget .picker-switch {
   
  font-weight: 400;

}
.bootstrap-datetimepicker-widget .picker-switch:hover {
   
background-color:#8687E70f;


}
.bootstrap-datetimepicker-widget .glyphicon {
  font-size: 1em;  
 color: #e5e5e5;
}
.bootstrap-datetimepicker-widget .glyphicon:hover{
  background-color:hsla(239, 67%, 72%, 0.059);
  color: #8687E7;
}
.bootstrap-datetimepicker-widget thead th {
  font-weight: 300;
}
  
.bootstrap-datetimepicker-widget .timepicker-hour:hover,
.bootstrap-datetimepicker-widget .timepicker-minute:hover {
  background-color: #8687E7;
  color: #e5e5e5;
}
 th.picker-switch{
   color: #8687E7
 }
.bootstrap-datetimepicker-widget thead th:first-child,.bootstrap-datetimepicker-widget thead th:last-child{
   color: #ff0b0b;
}
.bootstrap-datetimepicker-widget tbody td:not(.today):hover ,
.bootstrap-datetimepicker-widget thead th.prev:hover,
.bootstrap-datetimepicker-widget thead th.next:hover,
.bootstrap-datetimepicker-widget thead th.picker-switch:hover ,
.bootstrap-datetimepicker-widget thead th.switch:hover,
.month:hover,
.year:hover,
.time:hover,
span.timepicker-hour:hover,
span.timepicker-minute:hover,
.btn,
.btn:hover
 
{
 
  background:#8687E70f;
  color: #8687E7;
   
}
 
.bootstrap-datetimepicker-widget .month.active {
  background-color: #8687E7;
 
}
.bootstrap-datetimepicker-widget .month:not(.active):hover{
  background:#8687E70f;
}

  
.bootstrap-datetimepicker-widget tbody td.today {
   background-color: #8687E7;
}
.bootstrap-datetimepicker-widget tbody td.today:hover {
  background-color: #797bdf;
}
td.day{
    
  
    
   border-radius: 20px;
}

 
body::-webkit-scrollbar{
  display: none;
}

#task-view{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%;
  gap: 2em;
}

#search-task{
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: #1d1d1d;
  border-radius: 0.5em;
  width: calc(100vw - 2em);
  max-width: 380px;
  color: #F8F9FA;
  padding: 0em 1em;
  border: 1px solid #363636
}
#search-task input{
  background-color:  transparent;
  height: 2.9em;
  border: none;
  outline: none;
}
#today-task-info{
  
}
 .task-btn{
   display: flex;
   justify-content: space-between;
   cursor: pointer;
   
 }
 .task-btn>:nth-child(n):hover{
  background-color: #8687E7;
 }
 .task-btn>:nth-child(n){
  
  background-color: #1d1d1d;
  border-left: 1px solid #444444;
  border-bottom: 1px solid #444444;
 }
 .task-btn>:nth-child(n):active{
  
  background-color: #1d1d1d;
  border-right: 1px solid #444444;
  border-top: 1px solid #444444;
  border-left: none;
  border-bottom: none;
 }
 .task-btn>:last-child{
  margin-right: 6px;
 }
#search-task :first-child{
  font-size: 1.3em;
}
.task-info-label{
     display: flex;
     align-items: center;
     padding: 0.3em  0.5em;
     gap: 0.5em;
     background-color: #444444;
     width: fit-content;
     height: 2.5em;
     justify-content: start;
     color: #F8F9FA;
     border-radius: 0.5em;
}
#task-container{
  display: flex;
  flex-direction: column;

  gap: 1em;
  overflow: auto;
}
.task-cell-container{
  background-color:#1d1d1d;
  color: #F8F9FA;
  border-radius: 0.5em;
  display:flex;
  justify-content: space-between;
  padding: 0.8em 0.5em;
  align-items: center;
  gap: 0.5em;
  padding-bottom: 0.3em;
  cursor: pointer;
  /* border-left: 1px solid #444444; */
  border-right: 1px solid #444444;
  border-top : 1px solid #444444;

}
.circle{
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 2px solid #F8F9FA;
  transform: translateY(-0.3em);
}
.task-detail-container{
 flex-grow: 0.9;
 display: flex;
 flex-direction: column;
 gap: 0.5em;
 


  
}
.taskCell-bottom-container{
   display: flex;
   justify-content: space-between;
  color:#d3d3d3;
  gap: 0.5em;
  
}
.taskCell-bottom-right-data{
  display: flex;
  gap:1em;
}
.taskCell-bottom-right-data>:nth-child(n){
  display: flex;
  align-items: center;
  gap: 0.4em;
  padding: 0.3em 0.5em;
  border-radius: 0.2em;
  user-select: none;

}
.taskCell-bottom-right-data>:nth-child(1) i{
   color: #272727;
}
.taskCell-bottom-right-data>:nth-child(1){
   background-color: #90ee90;
   color: #272727;
   
}
.taskCell-bottom-right-data>:nth-child(2){
  border: 1px solid #797bdf;
   
  
}
.bright{
  color: #F8F9FA;
}
.edit-top{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding:  0 0.5em;

}
.editView{
 width: calc(100vw - 2em);
 max-width: 450px;
 font-size: 1.2em;
 display: flex;
 flex-direction: column;
  
  justify-content: space-between;
  height: 100%
  
 
   

}
#editView-container{
  
  position:  absolute;
  padding-top: 2em;
  padding-bottom: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #121212;
}
.taskCellEdit>:nth-child(2){
  flex-grow: 0.9;
 display: flex;
 flex-direction: column;
 gap: 0.5em;
}
.edit-pen::after{
  content: '';
  display: block;
  width: 100%;
  background-color: #e0ffff;
  height: 1px;
}
.task-info-edit :nth-child(2){
  color:#d3d3d3;
  font-size: 0.9em;
}
.edit-middle-container{
  display: flex;
  flex-direction: column;
  
  gap: 2em;
  color:#F8F9FA;
}
.edit-middle-container>:nth-child(n):not(.edit-task-btn){
  display: flex;
   
  align-items: center;
  
  gap: 1em;
}
.edit-middle-container>:nth-child(n)>:nth-child(n):not(.edit-task-btn){
  display: flex;
   
  align-items: center;
   
  gap: 1em;
}
.edit-middle-container>:nth-child(n):not(.delete-section){
  justify-content: space-between;
}
.edit-middle-container>:nth-child(n)>:nth-child(2):not(.deletetxt){
   padding: 0.5em 0.5em;
   background-color:#444444;
   border-radius: 0.5em;
   color: #F8F9FA;
   font-size: 0.9em;
    
}
.delete-section{
  color: #ff0b0b

}
.delete-section i{
  color: inherit
}
 
.pointer{
  cursor: pointer;
}
#edit-task-btn{
  background-color: #8687E7;
  height: 3em;
  border-radius: 0.5em;
  display: flex;  
}
#edit-task-btn>:nth-child(n){
  
  margin: 0 auto;
}
 
