@font-face {
    font-family: 'mona Sans';
    src: url(../assets/Mona-Sans.ttf);
}
*{
    box-sizing: border-box;
    font-family: 'mona Sans';
    color:white;
    
}

body{
    margin: 0;
    font-size: 16px;
    height: 100vh;
    overflow-y: auto;
} 
.ui{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color:#121212 ;
     
    
}
svg{
    
     margin-top: -4.5em;
}

.top{
    color:#F8F9FA;
    padding: 0 1em;
 }
#profile-picture{
    width:2em;
    height: 2em;
    object-fit: cover;
    border-radius: 50%;
}
.weclome-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:1.8em;
    color:#F8F9FA;
}
#page-title{
    display: flex;
    justify-content: center;

}
.middle{
    display: flex;
    flex-direction: column;
      
    align-items: center;
    height: 60%;
    gap: 0;
     
    
     
}
 

 .middle p{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-top: 0;
    
    
 }
 .middle p:first-of-type{
    font-size: 1.3em;
    margin-bottom: 1em;
 }
 .plus-symbol{
    color:#8687E7;
font-size: 1.5em;
margin:0.3em;

 }
 .bottom{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* font-size:max(1.2em,2vw) ; */
    background-color: #363636;
    padding:0 0.3em;
    font-size: 1.3em
     
    
 }
  i:hover{
    color: #8687E7;
 }
 i{
    color:#e5e5e5;
    cursor: pointer;
    
     
 }
 #plus-icon{
    
    font-size:  3em;
    transform: translateY(-50%);
    color: #8687E7;
    background-color:#e5e5e5;
    border-radius: 50%;
    
 }
 .icons-label{
    font-weight: initial;
    font-size: 0.5em;
    color:#e5e5e5;
 }
.bottom>section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
 

#input-dialogue{
    width: 100%;
    max-width: 500px;
    min-width: 380px;
    background-color: #363636;
    border-radius: 1em;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-30px);
    height: 40%;
    
    justify-content: space-between;
    
}
 #input-dialogue i{
  font-size: 1.2em;
 }
#input-dialogue input{

 background-color: inherit;
 border-radius: 0.3em;
 border: none;
 padding: 1em 0.5em;
 color: #e5e5e5;
 outline: none;
 width: 100%;
 max-width: 500px;
 border-bottom: 1px solid  transparent;
  
 
  

}
#input-dialogue input:focus{
    outline: none;
    border-bottom: 1px solid grey;
}
#input-dialogue>:first-child{
    font-size: 1.3em;
    width: 100%;
    
}
#input-dialogue textarea{
    background-color:inherit;
    width: 100%;
    max-width: 500px;
    height: 50px;
    border-radius: 0.5em;
    padding: 1em 0.5em;
    border: none;
    border-bottom: 1px solid  transparent;
    outline: none;
    
   
     
}
 #input-dialogue textarea:focus{
    border-bottom: 1px solid  grey; 
}
 
.taskTittle,.tittle-decription-txt-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.task-setting{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
}
.task-setting>:last-child{
    flex-grow: 0.4;
    text-align: right;
    color: #8687E7;
  
    
}
 #dialogue-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:  center;
    background-color: rgba(0, 0, 0, 0.4);
    
    display: none;
     
 
 }
 #dialog i{
  font-size: 1.2em;
 }

  
  ::placeholder{
    font-size:1em;
  }
  .close-dialoge-container{
    display:  flex;
    justify-content: space-between;
  }
  

  .time-input{
    width: 50px;
  }

  #datepicker{
background-color: #8687E7;
 
  }
 #dialog{
width: 50%;
max-width: 300px;
padding: 0;
border: none;
outline: none;
background-color:#363636;
outline: none;
border: none;
border-radius: 1em;
padding:  1em;
transform: translate(60px, -40px);
 
 

 

  }
  #dialog::-webkit-scrollbar{
    display: none;
  }
  #dialog i{
    padding: 0.5em 0.2em;
  }
  #datetime-local{
    width: 100%;
    padding: 2em 0em;
    background-color: transparent ;
    
    border: none;
    outline: none;
    /* color: #363636; */
  }
  .dialogue-controls{
    display: flex;
    justify-content: space-between;
  }
  @media (max-width:500px) {
    #dialog{
        transform: translate(0,-40px)
    }
  }
  
 
 
#dialog input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5); 
  cursor: pointer;
  
}
#dialog input:hover[type="datetime-local"]::-webkit-calendar-picker-indicator{
  filter: invert(1);
}